/* -----------VARIABLES---------- */
:root {
    /* ---dark-mode--- */
    --font-color1: #FDFDFD;
    --font-color2: #949BB7;
    --accent-color1: #EA51BC;
    --accent-color2: #FFF500;
    --bg-color1: #111217;
    --bg-color2: #151A30;
    --gradient-color: #7B20B5;
}

/* -------COMMON------- */
body {
    font-family: 'Montserrat', sans-serif;
    color: var(--font-color1);
    background-color: #111217;

    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
fieldset {
    margin: 0;
    padding: 0;
    border: none;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-end: 0;
}
.container {
    max-width: 1242px;
    padding-left: 14px;
    padding-right: 14px;
    margin: 0 auto;
}
.container-small {
    max-width: 1010px;
    padding-top: 60px;
}

/* -------HEADER-------- */
.header {
    background-color: var(--bg-color2);
}
.header-box {
    display: flex;
    align-items: center;
}
.logo-link {
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 48px;
    line-height: calc(58 / 48);

    color: inherit;

    margin-right: 132px;
}
.accent-logo {
    color:var(--accent-color1);
}
.nav-list {
    display: flex;
    color: var(--font-color2);
}
.nav-item {
    padding-top: 36px;
    padding-bottom: 36px;
}
.nav-item:not(:last-child) {
margin-right: 32px;
}
.logo-box {
    display: flex;
    margin-left: auto;
    /* margin-right: 112px; */
}
.header-icon {
    width: 32px;
    height: 32px;
    fill: var(--font-color2);

    margin-right: 32px;
}
.user-photo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border-color: var(--font-color2);
    border-width: 1px;

    background-image: url(./images/Avatar.jpg);
}
/* ----------FORM---------- */
.form-title {
    font-weight: 800;
    font-size: 48px;
    line-height: calc(59 / 48);
    letter-spacing: 1px;

    margin-bottom: 12px;
}
.post-title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(25 / 16);

    color: var(--font-color2);
}
/* ----------FIRST FIELD------------ */
.company-info {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 48px;

    border-bottom: 1px solid #383B47;
}
.company-info-first,
.company-info-second,
.contact-person-data-first,
.contact-person-data-second {
    display: flex;
    flex-direction: column;

    max-width: 392px;
    width: 100%;
}
.company-info-item,
.company-info-location,
.contact-person-data-item,
.contact-comment-item {
    display: flex;
    flex-direction: column;
}

.company-info-item > input,
.company-info-location > input,
.company-info-location > select,
.contact-person-data-item > input,
.contact-comment-item > textarea {
    padding: 12px 20px;
    border-radius: 12px;
    border: 1px solid var(--font-color2);
    background-color: var(--bg-color1);

    font-weight: 500;
    font-size: 16px;
    line-height: calc(25 / 16);
    color: var(--font-color1);
}
.company-info-item:not(:last-child) > input,
.company-info-location:not(:last-child) > input,
.company-info-location > select,
.contact-person-data-item:not(:last-child) > input {
    
    margin-bottom: 28px;
}
.contact-comment-item>textarea {
    min-height: 134px;
    margin-bottom: 59px;
}

.company-info-item > label,
.company-info-location > label,
.company-info-location > label,
.contact-person-data-item > label,
.contact-comment-item > label {

    font-weight: 600;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 1px;

    margin-bottom: 12px;
    padding-left: 20px;
}
.contact-person-data {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 48px;
    border-bottom: 1px solid #383B47;
}

.submit-data {
    display: flex;
    justify-content: space-between;

    padding-top: 60px;
    padding-bottom: 60px;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(22 / 14);
}
.submit-firstbox,
.submit-secondbox {
    display: flex;
    flex-direction: column;

    min-width: 392px;
}
.download-field {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 12px;
    padding: 40px 90px;

    border: 1px dashed var(--font-color2);
    border-radius: 12px;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(25 / 16);
}
.download-field::before{
    content: "";
    background-image: url(./images/download.svg);
    width: 24px;
    height: 24px;    

    margin-right: 12px;
}

input[id=additional-file] {
    display: none;
}
.download-comment {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(22 / 14);
    display: flex;
    align-items: center;

    color: var(--font-color2);

    margin-bottom: 60px;
}
.submit-btn {
    display: block;
    width: 100%;

    font-weight: 600;
    font-size: 24px;
    line-height: calc(29 / 24);
    letter-spacing: 1px;
    color: var(--font-color1);

    background-image: linear-gradient(
        136.51deg,
        #7B20B5 0%,
        #EA51BC 94.14%);
    border-radius: 8px;
    border: none;

    padding-top: 16px;
    padding-bottom: 16px;

    margin-bottom: 12px;
}
.submit-secondbox-item {
    margin-bottom: 20px;
}
.chekbox-submit {
    display: flex;
    align-items: center;
}
.checker-input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.custome-checkbox {
    width: 20px;
    height: 20px;

    margin-right: 12px;

    border-radius: 4px;
    border: 1px solid var(--font-color1);
    background-color: var(--bg-color1);
}
.checker-input:checked+.custome-checkbox {
    border-color: var(--accent-color1);
    background-color: var(--accent-color1);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./images/done.svg);
    background-size: contain;
}

footer {
    background-color: var(--bg-color2);
}
.footer-box {
    display: flex;
    padding-top: 40px;
    padding-bottom: 60px;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(21.7 / 14);
}
.footer-contacts:not(:last-child) {
    margin-right: 123px;
    max-width: 289px;
}
.footer-title {
    margin-bottom: 20px;
}
.career {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.career > p {
    margin-bottom: 58px;
}
.career-link {
    color: var(--accent-color2);
}
.social-list {
    display: flex;
}
.social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--font-color2);
}
.social-item:not(:last-child) {
    margin-right: 24px;
}
.insta-icon {
    height: 20px;
    width: 20px;
}
.fb-icon {
    height: 23px;
    width: 12px;
}
.tlgr-icon {
    height: 17px;
    width: 19px;
}
.offices-item:not(:last-child) {
    margin-bottom: 16px;
}
.contact-list {
    margin-bottom: 41px;
}
.flag-icon {
    width: 20px;
    height: 12px;
    margin-right: 12px;
}
.contact-tel:first-child {
    margin-bottom: 12px;
}
.subscribe-form > label {
    display: block;
    margin-bottom: 12px;
    padding-left: 20px;
}
.footer-form-wrapper {
    display: flex;
    align-items: center;
}
.footer-mail-input {
    padding: 8px 20px;
    margin-right: 12px;

    border-radius: 8px;
    border: 1px solid var(--font-color2);
    background-color: var(--bg-color2);

    font-weight: 500;
    font-size: 14px;
    line-height: calc(22.7 / 14);
    color: var(--font-color1);
}
.check-mark-btn {
    width: 38px;
    height: 38px;
    border-radius: 8px;
    border: none;

    background-image: 
                        url(./images/done.svg),
                        linear-gradient(136.51deg,
                        #7B20B5 0%,
                        #EA51BC 94.14%);
}